In [ ]:
#%pip install PyPDF2

In [3]:
import PyPDF2

In [4]:
# List object
data = open('test/TestDiscussion.pdf', 'rb')

<p>PDF File Reader was removed in an update. Use PdfReader instead</p>

In [6]:
# reader object
reader = PyPDF2.PdfReader(data)

In [8]:
print(len(reader.pages))

2

<p>getPage(0) is deprecated. Use reader.pages[index] instead</p>

In [10]:
# Creating a page object
page = reader.pages[0]

<p>page.extractText() is depreacated. Use extract_text() instead</p>

In [12]:
print(page.extract_text())

Hi,
My name is Maurice.  I am a data analytics major and I am originally from the south, but I have
been to all the lower 48 states.  One of the many things I have noticed is that it does not matter
where I go , it all starts to look the same: corn, people, then more corn.  Of course, this varies
depending on geographical location, however the common consensus remains the same.  I work
in supply chain logistics.  My aspirations for this course are to help increase my cognitive ability,
enhance my knowledge of the gathering and collecting data requirements , and use this course as
a foundation as I build th e necessary skill set to become an analyst.
Data analys is appeals to me because it is one of the few avenues available to make a target
income with in a target time frame.  Professional educational development is more important to
me.  The only thing constant in life is change.  What I am doing today may not be what I am
doing tomorrow.  A data analyst is just a stepping stone towards the unknown.
Instead of Murphy’s law “where if something could go wrong then it most likely will1”, I would
like to reference the third law of infernal dynamics  where “the energy required to move an object
in the correct direction, or put it in the right place, will be more than you wish to expend but not
so much as to make the task impossible2”.  This is analogous to being a data analysis and
addressing organizational problems. An organization problem can be seen an object moving in
the wrong direction or if something can be done wrong then mostly likely it will happen.
Company’s will always need someone to solve a problem because problems are inevitable.
When considering poor communication or a lack of feedback loops, I think of when I worked at
a fast -food restaurant  or the fast -food restaurants  that I visit infrequently.   I would enter the order
correctly, but the cook would misread the order  or the server would serve the order with missing

In [13]:
data.close()

In [14]:
data = open('test/Txt_Discussion.txt', 'rb')

In [15]:
data.read()

b"Hi,\r\nMy name is Maurice.  I am a data analytics major and I am originally from the south, but I have been to all the lower 48 states.  One of the many things I have noticed is that it does not matter where I go, it all starts to look the same: corn, people, then more corn.  Of course, this varies depending on geographical location, however the common consensus remains the same.  I work in supply chain logistics.  My aspirations for this course are to help increase my cognitive ability, enhance my knowledge of the gathering and collecting data requirements, and use this course as a foundation as I build the necessary skill set to become an analyst.\r\nData analysis appeals to me because it is one of the few avenues available to make a target income within a target time frame.  Professional educational development is more important to me.  The only thing constant in life is change.  What I am doing today may not be what I am doing tomorrow.  A data analyst is just a stepping stone towards the unknown.\r\nInstead of Murphy\xe2\x80\x99s law \xe2\x80\x9cwhere if something could go wrong then it most likely will1\xe2\x80\x9d, I would like to reference the third law of infernal dynamics where \xe2\x80\x9cthe energy required to move an object in the correct direction, or put it in the right place, will be more than you wish to expend but not so much as to make the task impossible2\xe2\x80\x9d.  This is analogous to being a data analysis and addressing organizational problems. An organization problem can be seen an object moving in the wrong direction or if something can be done wrong then mostly likely it will happen.  Company\xe2\x80\x99s will always need someone to solve a problem because problems are inevitable.\r\nWhen considering poor communication or a lack of feedback loops, I think of when I worked at a fast-food restaurant or the fast-food restaurants that I visit infrequently.  I would enter the order correctly, but the cook would misread the order or the server would serve the order with missing items.  It is almost guaranteed that an order completed in the drive thru will not be served correctly.  Thus, I started going inside to place an order.  I order french fries with no salt.  I have had a remarkable number of orders that came with salt.  Blending various personalities into a unified team appears unobtainable at a fast-food place.  It seems that ignoring various problems have become an acceptable level of productivity.  Data can provide insight into menu creation and efficiency, but ultimately the employee has to be held accountable. Low wages combined with social stigma hampers employee retention which leads to high turnover.  That being said, I would like to reference the first law of infernal dynamics where \xe2\x80\x9can object in motion will be moving in the wrong direction2\xe2\x80\x9d.  Good luck to everyone in class.\r\nCitations,\r\n1.\tLaw of infernal dynamics at, Laws of infernal dynamics - Wikipedia (visited on 05/05/2021)\r\n2.\tMurphy\xe2\x80\x99s Law at, Murphy's law - Wikipedia (visited on 05/05/2021)\r\n"

In [16]:
data.close()

In [17]:
import numpy as np
import pandas as pd

In [25]:
# Create a CSV object using pandas .read and the name of the csv
# Put file in working directory
data = pd.read_csv('test/reddit_dataset.csv')

In [26]:
data.head()

                                       clean_comment  category
0   family mormon have never tried explain them t...         1
1  buddhism has very much lot compatible with chr...         1
2  seriously don say thing first all they won get...        -1
3  what you have learned yours and only yours wha...         0
4  for your own benefit you may want read living ...         1

In [29]:
# To check the columns we can use data.columns
data.columns

Index(['clean_comment', 'category'], dtype='object')

In [30]:
data.shape

(37249, 2)

In [34]:
# Total count, mean, standard deviation and quartiles of your data
data.describe()

           category
count  37249.000000
mean       0.202771
std        0.778515
min       -1.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000

In [35]:
# Now we can check the data to see if we have any null values
data.isnull().any()

clean_comment     True
category         False
dtype: bool

In [36]:
# We can find the total number of null or not available values in the dataset
data.isnull().sum()

clean_comment    100
category           0
dtype: int64

In [37]:
# Function call or statement to remove null values
data_part = data.dropna()

In [38]:
data_part

                                           clean_comment  category
0       family mormon have never tried explain them t...         1
1      buddhism has very much lot compatible with chr...         1
2      seriously don say thing first all they won get...        -1
3      what you have learned yours and only yours wha...         0
4      for your own benefit you may want read living ...         1
...                                                  ...       ...
37244                                              jesus         0
37245  kya bhai pure saal chutiya banaya modi aur jab...         1
37246              downvote karna tha par upvote hogaya          0
37247                                         haha nice          1
37248             facebook itself now working bjp’ cell          0

[37149 rows x 2 columns]

In [39]:
# We verify is the null values have been dropped from the table
data_part.isnull().sum()

clean_comment    0
category         0
dtype: int64

In [41]:
# Function call to return the number of rows and columns
data_part.shape

(37149, 2)

<h2 align=center>Tokenization</h2>

<h3>Line Tokenization</h3>
<p>We have to do tokenization to understand language</p></brk>

In [ ]:
# Import the library for tokenizatoin
import nltk

# Needed to download punkt for tokenization. Commented out to prevent further downloads
#nltk.download('punkt')

In [52]:
data = 'Welcome to your new job! Heres your des! Your phone. Your company car! Good day?'
tokens = nltk.sent_tokenize(data)
print(tokens)

['Welcome to your new job!', 'Heres your des!', 'Your phone.', 'Your company car!', 'Good day?']

<h3>Word Tokenization</h3>

In [53]:
data = "Welcome to your new job!! Please take a moment to explore the area."
tokens = nltk.word_tokenize(data)

print(tokens)

['Welcome', 'to', 'your', 'new', 'job', '!', '!', 'Please', 'take', 'a', 'moment', 'to', 'explore', 'the', 'area', '.']

In [54]:
# The data type is a list: type(data). Thus, we use len(data)
len(tokens)

16

<h2 align=center>Stemming</h2>
</brk>
<p>We can remove common prefixes and suffixes from word. Make the dataset more dense</p></br>
<p>Runs faster</p>

In [55]:
from nltk.stem import PorterStemmer

In [56]:
ps = PorterStemmer()

In [57]:
words = ['Like', 'Liking', 'Likes']

for word in words:
    print(f'{word} : {ps.stem(word)}')

Like : like
Liking : like
Likes : like

<h2 align=center>Lemmantization</h2>
</brk>
<p>Basically returning a word back to its original form by checking the word</br>
against a dictionary. Can be hard to implement. Helping : Help</p>

In [ ]:
# Library needed to perform the operation
nltk.download("wordnet")

from nltk.stem import WordNetLemmantizer

wnl = WordNetLemmantizer()

print('socks', wnl.lemmantize('socks'))
print('shoes', wnl.lemmantize('shoes'))

<h2 align=center>Stop Word Removal</h2></br>
<p>Makes the predictions more accurate</p>

In [ ]:
# Import nl tokenizer library
import nltk

# Retrieve the stopwords vocabulary
from nltk.corpus import stopwords

# Place vocabulary in working directory
# nltk.download('stopwords')

In [2]:
data = "I am slowly learning NLP. Hopefully, my sincerity will lead to positive rewards."

# Create a vocabulary with english stop words
stop_word = set(stopwords.words('english'))

# Print the entire object /or insert the list range of english values
print(stopwords.words() [620:680])

['ثمنمئة', 'تسعمئة', 'مائة', 'ثلاثمائة', 'أربعمائة', 'خمسمائة', 'ستمائة', 'سبعمائة', 'ثمانمئة', 'تسعمائة', 'عشرون', 'ثلاثون', 'اربعون', 'خمسون', 'ستون', 'سبعون', 'ثمانون', 'تسعون', 'عشرين', 'ثلاثين', 'اربعين', 'خمسين', 'ستين', 'سبعين', 'ثمانين', 'تسعين', 'بضع', 'نيف', 'أجمع', 'جميع', 'عامة', 'عين', 'نفس', 'لا سيما', 'أصلا', 'أهلا', 'أيضا', 'بؤسا', 'بعدا', 'بغتة', 'تعسا', 'حقا', 'حمدا', 'خلافا', 'خاصة', 'دواليك', 'سحقا', 'سرا', 'سمعا', 'صبرا', 'صدقا', 'صراحة', 'طرا', 'عجبا', 'عيانا', 'غالبا', 'فرادى', 'فضلا', 'قاطبة', 'كثيرا']

In [3]:
# Word tokenize the data into a list of values
data = nltk.word_tokenize(data)

In [4]:
print(data)

['I', 'am', 'slowly', 'learning', 'NLP', '.', 'Hopefully', ',', 'my', 'sincerity', 'will', 'lead', 'to', 'positive', 'rewards', '.']

In [6]:
# Loop to interate over each value in list
for word in data:
    # Condition to check if word is in vocabulary object
    if word in stop_word:
        # Output to user
        print(word)

am
my
will
to

<h2 align=center>Modeling Techniques</h2>

<p><b>Bag of Words</b></p>
<p>It is a modeling technique that transforms a document into a bag of words and counts the number of most frequently used words. It changes tokens into a set of features.</p>

<p><b>TF-IDF</b></p></brk>
<p>It stands for term frequency and iverse document frequency. It helps determine the relevancy of a word in a document.</p></brk>
<p>The process to calculate TF-IDF is to multiply two metrics. The frequency (of a term devided by the number of terms) times the frequency (total number of documents devided by the total number of documents that have the term) accross all documents. Then take the log of that quotient</p>

<p><b>Word Embedding</b><p></brk>
<p>It is the process of converting words as a vector of numbers. It enables the machine to make an inference and establishes a distance between two tokens</p>
<ol>
    <li>Word2Vec</li>
    <li>Glove</li>
    <li>FastText</li>
</ol>

<h2 align=center>Machine Learning</h2>
<p>It is the ablity of a machine to learn and update its policies without human interference.</p>
<p>Elements in design:</p>
<ol>
    <li>Model Building</li>
    <li>Test Data</li>
    <li>Training Data</li>
</ol>

<b>Machine Learning Life Cycle</b></brk>
<ol>
    <li>Understand the business problem</li>
    <li>Data acquisition</li>
    <li>Data cleaning: unstructured or semi-structured</li>
    <li>Exploratory Data Analysis</li>
    <li>Machine learning Algorithm</li>
    <li>Predict the model's accuracy</li>
</ol>

<b>Types of Machine Learning</b></brk>
<ol>
    <li>Supervised: There will be a supervisor. The data becomes the supervisor</li>
    <ul>
        <li>Logistic Regression is used to predict the probability of the target variable.The output is a discrete variable 1 or 0
        </li>
        <li>It implements the sigmoid function (1/1+e^-value)</li>
        <li>1 means success and 0 means unsuccess</li>
    </ul>
    <p></p>
    <li>Unsupervised: Make a cluster</li>
    <ul>
        <li>Sentiment Analysis</li>
        <li>It is a technique used to analyze the positive, negative, or neutral emmotion around a specifc topic</li>
        <li>Sentiments in text are given a value between -1 and 1. The process is decribed as polarity</li>
    </ul>
    <p></p>
    <li>Reinforcement: Self driving car. Rewards and Penalties</li>
</ol>

<h3 align=center>Sentiment Anaysis Project</h3>

Citation:
@InProceedings{maas-EtAl:2011:ACL-HLT2011,
  author    = {Maas, Andrew L.  and  Daly, Raymond E.  and  Pham, Peter T.  and  Huang, Dan  and  Ng, Andrew Y.  and  Potts, Christopher},
  title     = {Learning Word Vectors for Sentiment Analysis},
  booktitle = {Proceedings of the 49th Annual Meeting of the Association for Computational Linguistics: Human Language Technologies},
  month     = {June},
  year      = {2011},
  address   = {Portland, Oregon, USA},
  publisher = {Association for Computational Linguistics},
  pages     = {142--150},
  url       = {http://www.aclweb.org/anthology/P11-1015}
}

https://www.kaggle.com/datasets/lakshmi25npathi/imdb-dataset-of-50k-movie-reviews

In [8]:
import numpy as np
import pandas as pd

# Access subfolder
data = pd.read_csv('rawData/IMDB_Dataset.csv')

In [2]:
# Data Analysis
data.head()

                                              review  sentiment
0  One of the other reviewers has mentioned that ...          1
1  A wonderful little production. <br /><br />The...          1
2  I thought this was a wonderful way to spend ti...          1
3  Basically there's a family where a little boy ...          0
4  Petter Mattei's "Love in the Time of Money" is...          1

In [3]:
# Data Analysis
data.tail()

                                                  review  sentiment
49995  I thought this movie did a down right good job...          1
49996  Bad plot, bad dialogue, bad acting, idiotic di...          0
49997  I am a Catholic taught in parochial elementary...          0
49998  I'm going to have to disagree with the previou...          0
49999  No one expects the Star Trek movies to be high...          0

In [4]:
# Data analysis
data.columns

Index(['review', 'sentiment'], dtype='object')

In [5]:
data.isnull().any()

review       False
sentiment    False
dtype: bool

In [6]:
data.describe()

          sentiment
count  50000.000000
mean       0.500000
std        0.500005
min        0.000000
25%        0.000000
50%        0.500000
75%        1.000000
max        1.000000

In [7]:
# Data Analysis
data['sentiment'].value_counts()

1    25000
0    25000
Name: sentiment, dtype: int64

<b>Ran as administrator</b></brk>
<ol>
    <li>conda update --all</li>
    <li>pip install -U scikit-learn</li>
    <li>pip install wordcloud</li>
    <li>pip install spacy</li>
    <li>pip install textblob</li>
    <li>pip install tensorflow==2.14</li>
    <li>automatically installs keras==2.14.0</li>
    <li>pip install PyQt5==5.12.3</li>
    <li>pip install pyqtwebengine==5.12.1</li>
</ol>

<p>No module name preprocessing. Commented out and continuing</p>

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
#from sklearn.preprocesssing import LabelBinarizer
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from wordcloud import WordCloud,STOPWORDS
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize, sent_tokenize

In [9]:
import spacy
import re, string, unicodedata
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.stem import LancasterStemmer, WordNetLemmatizer
from sklearn.linear_model import LogisticRegression,SGDClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from textblob import TextBlob
from textblob import Word
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from bs4 import BeautifulSoup

In [ ]:
# Only need to download once
#nltk.download('stopwords')
#print(stopwords.words())

<h2 align=center>Tokenization</h2>

In [10]:
# Used to tokenize text
tokenizer = ToktokTokenizer

# Configure english stop words
stopWords = nltk.corpus.stopwords.words('english')

In [11]:
# Function to remove noise with soup
def removeNoiseTXT(text):
    soup = BeautifulSoup(text, 'html.parser')
    text = soup.getText()
    # Remove special characters
    text = re.sub('\[[^]]*\]', '', text)
    return text

In [12]:
import numpy as np
import pandas as pd

# Access subfolder
data = pd.read_csv('rawData/IMDB_Dataset.csv')

In [13]:
data.head()

                                              review  sentiment
0  One of the other reviewers has mentioned that ...          1
1  A wonderful little production. <br /><br />The...          1
2  I thought this was a wonderful way to spend ti...          1
3  Basically there's a family where a little boy ...          0
4  Petter Mattei's "Love in the Time of Money" is...          1

In [14]:
# Apply the function to the text column
data['review']=data['review'].apply(removeNoiseTXT)

In [15]:
data.head()

                                              review  sentiment
0  One of the other reviewers has mentioned that ...          1
1  A wonderful little production. The filming tec...          1
2  I thought this was a wonderful way to spend ti...          1
3  Basically there's a family where a little boy ...          0
4  Petter Mattei's "Love in the Time of Money" is...          1

<h2 align=center>Stemming</h2>

In [16]:
# Function for stemming text
def stemText(text):
    ps = nltk.porter.PorterStemmer()
    text = ' '.join([ps.stem(word) for word in text.split()])
    return text

In [17]:
# Apply the function to the text column
data['review']=data['review'].apply(stemText)

In [18]:
data.head()

                                              review  sentiment
0  one of the other review ha mention that after ...          1
1  a wonder littl production. the film techniqu i...          1
2  i thought thi wa a wonder way to spend time on...          1
3  basic there' a famili where a littl boy (jake)...          0
4  petter mattei' "love in the time of money" is ...          1

<h2 align=center>Stop Word Removal</h2>

In [19]:
# Function to remove the Stop Words
def removeStopWords(text, isLowerCase=False):
    # Text Tokenization
    tokenizer = ToktokTokenizer()
    tokens = tokenizer.tokenize(text)
    tokens = [i.strip() for i in tokens]
    if isLowerCase:
        filteredTokens = [i for i in tokens if i not in stopWords]
    else:
        filteredTokens = [i for i in tokens if i.lower() not in stopWords]
    filteredText = ' '.join(filteredTokens)
    return filteredText

In [20]:
data['review'] = data['review'].apply(removeStopWords)

In [21]:
data.head()

                                              review  sentiment
0  one review ha mention watch 1 oz episod ' hook...          1
1  wonder littl production. film techniqu veri un...          1
2  thought thi wa wonder way spend time hot summe...          1
3  basic ' famili littl boy ( jake ) think ' zomb...          0
4  petter mattei ' " love time money " visual stu...          1

<b>Train test split</b>

In [22]:
# The dataset needs to be split in half
# Training dataset
trainReviewsData = data.review[:30000]

# Test Dataset
testReviewsData = data.review[30000:]

<h2 align=center>Bag Of Words</h2>

In [23]:
# Count vectorizer for Bag Of Word Model
cv = CountVectorizer(min_df = 0, max_df = 1, binary = False, ngram_range =(1,3))

# Transform Training Reviews Data
cvTrain = cv.fit_transform(trainReviewsData)

# Transform Test Reviews Data
cvTest = cv.transform(testReviewsData)

print(f'Bag Of Words train: {cvTrain.shape}')
print(f'Bag Of Words train: {cvTest.shape}')

# To get the feature name
#voc = cntVect.get_feature_names()

Bag Of Words train: (30000, 4954389)
Bag Of Words train: (20000, 4954389)

<h2 align=center>TF IDF</h2>

In [24]:
# Term Frequency Inverse Document Frequency Model
tf = TfidfVectorizer(min_df = 0, max_df = 1, use_idf = True, ngram_range = (1,3))

# Transform the Training Reviews Data
tfTrain = tf.fit_transform(trainReviewsData)

# Transform the Test Reviews Data
tfTest = tf.transform(testReviewsData)

print(f'Tfidf Train: {tfTrain.shape}')
print(f'Tfidf Test: {tfTest.shape}')

Tfidf Train: (30000, 4954389)
Tfidf Test: (20000, 4954389)

<b>Label Encoding</b>

In [ ]:
# Labeling the sentiment data
# Run Cell if using nltk.preprocessing
#label = LabelBinarizer()

#transform the sentiment data
#sentiment_data = label.fit_transform(data['sentiment'])

#print(sentiment_data.shape)

In [25]:
trainData = data.sentiment[:30000]
testData = data.sentiment[30000:]

<h3 align=center>Sigmoid Function (Logistic Regression)</h3>

In [31]:
# Train the Model
logistic = LogisticRegression(penalty = 'none', max_iter = 500, C = 1, random_state = 42)

#Fitting Model for Bag Of Words
lrBOW = logistic.fit(cvTrain, trainData)

print(lrBOW)

# Fitting model for TF IDF
lrTFIDF = logistic.fit(tfTrain, trainData)

print(lrTFIDF)

LogisticRegression(C=1, max_iter=500, penalty='none', random_state=42)
LogisticRegression(C=1, max_iter=500, penalty='none', random_state=42)

In [32]:
# Predicting the models accuracy
lrBowPredict = logistic.predict(cvTest)

print(lrBowPredict)

[0 0 1 ... 0 1 1]

In [34]:
# Calculate Accuracy for BOW
lrBowScore = accuracy_score(testData, lrBowPredict)
print(lrBowScore)

0.71535

In [35]:
# Predicting the models accuracy
lrTfidfPredict = logistic.predict(tfTest)

print(lrTfidfPredict)

[0 0 1 ... 0 1 1]

In [36]:
# Calculate Accuracy for TF IDF
lrTdifScore = accuracy_score(testData, lrTfidfPredict)
print(lrBowScore)

0.71535

<h2 align=center>What is Textblob</h2>
<ol>
    <li>Open source Python Library</li>
    <li>Funtionallity for:</li>
    <ul>
        <li>Lemmatization and Stemming</li>
        <li>Tokenization and Noun Phrase Extraction</li>
        <li>POS Tagging and Word Count</li>
        <li>Plularization of words and N-grams</li>
    </ul>
    <li>Does not provide vectorization and dependancy parsing</li>
    <li>Commonly used for Text Classification and Sentiment Analysis</li>
</ol>

<b>N-grams</b></brk>
<p>Imagine creating a list of words. Uni-gram would be a single element for each entry. 2-gram will combine two contiguous list entries as one element. We can acquire phrases.</p>

In [ ]:
#nltk.download('popular')
# Helps with tagging
#nltk.download('averaged_perceptron_tagger')
#nltk.download('averaged_perceptron_tagger_eng')
# For word count using textblog
#nltk.download('punkt_tab')

<b>Language Detection Benefits</b>
<ul>
    <li>Text Blob uses Google translate to interpret language</li>
    <li>Text Blob can tranlate one language to another</li>
</ul>

In [ ]:
# Deprecated
#from textblob import TextBlob

#tblob = TextBlob('What are you learning?')

#print("The language you are using is", tblob.detect_language())

#print("Change user input to Spanish", tblob.translate(to = 'es'))

<b>Spelling Correction with TextBlob</b></brk>

In [43]:
text = '''A&L's most valuable rresource is wyou!!!'''
print(text)
blob = TextBlob(text)
spCh = blob.correct()
print(spCh)
print(TextBlob('hass').correct())
# Single words work better

A&L's most valuable rresource is wyou!!!
A&L's most valuable resource is you!!!
has

<b>Word Count</b>

<p>The word count utility allows us to count the frequency of a word or phase in a sentence. If we have words that do not repead, then the word vectors will become very sparse. It would be difficult for the machine to understand, parse, and model.</p>

In [50]:
# Did not work until I downloaded punkt_tab
text = "Sentitment Analysis is a modeling technique that enalbes us to find the sentiment of a text. Sentiment can be positive or negative."
blob = TextBlob(text)
print(blob.word_counts['Sentiment'])
print(blob.word_counts['sentiment'])
print(blob.word_counts['technique'])
print(blob.word_counts['that'])

0
2
1
1

<b>POS Tagging</b></brk>
<p>The tagging utility allows the programmer to 'tag' the word in a sentence as a noun, pronoun, verb, adverb, and etc.</p>

In [ ]:
# Utility needed for tagging
#nltk.download('averaged_perceptron_tagger_eng')

In [57]:
text = TextBlob("My name is Maurice. I am studying NLP for a job. Hopefully, at Amazon.")
print(text.tags)

[('My', 'PRP$'), ('name', 'NN'), ('is', 'VBZ'), ('Maurice', 'NNP'), ('I', 'PRP'), ('am', 'VBP'), ('studying', 'VBG'), ('NLP', 'NNP'), ('for', 'IN'), ('a', 'DT'), ('job', 'NN'), ('Hopefully', 'RB'), ('at', 'IN'), ('Amazon', 'NNP')]

In [61]:
new_TupleList = []
for i in text.tags:
    if 'VBP' not in i[1]:
        new_TupleList.append(i)

print(new_list)

[('My', 'PRP$'), ('name', 'NN'), ('is', 'VBZ'), ('Maurice', 'NNP'), ('I', 'PRP'), ('studying', 'VBG'), ('NLP', 'NNP'), ('for', 'IN'), ('a', 'DT'), ('job', 'NN'), ('Hopefully', 'RB'), ('at', 'IN'), ('Amazon', 'NNP')]

<b>Tokenization Revisted</b></brk>
<ul>
    <li>Corpus: it is a collection of text data</li>
    <li>Token: It is the total number of words in a sentence or corpus obtained by converting a sentence into a list</li>
    <li>Tokenization is the conversion process</li>
    <li>Can be tokenized by spacial character, word, or sentence</li>
</ul>

In [70]:
# Practice with Tokenization
text = TextBlob("How are you today. Thank you for joining me!")
textTokens = text.words
textSentences = text.sentences
print(textTokens)
print(textSentences)

['How', 'are', 'you', 'today', 'Thank', 'you', 'for', 'joining', 'me']
[Sentence("How are you today."), Sentence("Thank you for joining me!")]

<p>Pluralization of words using Textblob</p>

In [72]:
#from textblob import Word
w = Word('Platform')
print(w.pluralize())

z = Word('Platforms')
print(z.pluralize())

Platforms
Platformss

In [74]:
blob = TextBlob("How are you today. Thank you for joining me!")
for word, pos in blob.tags:
    if pos == 'NN':
        print(word.pluralize())

todays

<b>Lemmatization using Textblob</b>

In [76]:
blob = TextBlob("Studying NLP is a great way to do interview prep. Great Learning is a wonderful free resource.")

wordList = blob.words

for word in wordList:
    print("Original:", word, "| Lem:", word.lemmatize(), "| Stem:", word.stem())

Original: Studying | Lem: Studying | Stem: studi
Original: NLP | Lem: NLP | Stem: nlp
Original: is | Lem: is | Stem: is
Original: a | Lem: a | Stem: a
Original: great | Lem: great | Stem: great
Original: way | Lem: way | Stem: way
Original: to | Lem: to | Stem: to
Original: do | Lem: do | Stem: do
Original: interview | Lem: interview | Stem: interview
Original: prep | Lem: prep | Stem: prep
Original: Great | Lem: Great | Stem: great
Original: Learning | Lem: Learning | Stem: learn
Original: is | Lem: is | Stem: is
Original: a | Lem: a | Stem: a
Original: wonderful | Lem: wonderful | Stem: wonder
Original: free | Lem: free | Stem: free
Original: resource | Lem: resource | Stem: resourc

In [79]:
w = Word('learning')
## n here signifies a noun
print(w.lemmatize("n"))

w = Word('learning')
## v here signifies a verb
print(w.lemmatize("v"))

w = Word("peoples")
## n here signifies a noun
print(w.lemmatize("n"))

learning
learn
people

<b>n-gram in Textblob</b>

<p>N-gram stands for the N number of sequences in a single position of an array. Example: uni, bi, and tri are (word), (word word), and (word word word) respectively.</p>

In [81]:
print(blob.ngrams(n = 1))

[WordList(['Studying']), WordList(['NLP']), WordList(['is']), WordList(['a']), WordList(['great']), WordList(['way']), WordList(['to']), WordList(['do']), WordList(['interview']), WordList(['prep']), WordList(['Great']), WordList(['Learning']), WordList(['is']), WordList(['a']), WordList(['wonderful']), WordList(['free']), WordList(['resource'])]

In [83]:
print(blob.ngrams(n = 2))

[WordList(['Studying', 'NLP']), WordList(['NLP', 'is']), WordList(['is', 'a']), WordList(['a', 'great']), WordList(['great', 'way']), WordList(['way', 'to']), WordList(['to', 'do']), WordList(['do', 'interview']), WordList(['interview', 'prep']), WordList(['prep', 'Great']), WordList(['Great', 'Learning']), WordList(['Learning', 'is']), WordList(['is', 'a']), WordList(['a', 'wonderful']), WordList(['wonderful', 'free']), WordList(['free', 'resource'])]

<h3 align=center>Sentiment Analysis Using TextBlob</h3>

In [71]:
# Ran in Conda 
#python -m spacy download en_core_web_sm
import re
import numpy as np
import pandas as pd
import nltk
import spacy
import string
from textblob import TextBlob
from nltk.tokenize.toktok import ToktokTokenizer
from bs4 import BeautifulSoup
from sklearn.utils import shuffle


# Create tokenizer object
tokenizer = ToktokTokenizer()
# Create small Spacy NLP model
nlp = spacy.load('en_core_web_sm', disable = ['ner'])

print(TextBlob("she is very good girl").sentiment)
print(TextBlob('she is not a good girl').sentiment)
print(TextBlob('everybody stated she is poor').sentiment)

Sentiment(polarity=0.9099999999999999, subjectivity=0.7800000000000001)
Sentiment(polarity=-0.35, subjectivity=0.6000000000000001)
Sentiment(polarity=-0.4, subjectivity=0.6)

<b>Data Pre Processing</b>

In [72]:
# Used to tokenize text
tokenizer = ToktokTokenizer

# Configure english stop words
stopWords = nltk.corpus.stopwords.words('english')

In [73]:
# Function to remove noise with soup
def removeNoiseTXT(text):
    soup = BeautifulSoup(text, 'html.parser')
    text = soup.getText()
    # Remove special characters
    text = re.sub('\[[^]]*\]', '', text)
    return text

In [74]:
# Access subfolder
data = pd.read_csv('rawData/IMDB_Dataset.csv')

# Apply the function to the text column
data['review']=data['review'].apply(removeNoiseTXT)

In [75]:
# Function for stemming text
def stemText(text):
    ps = nltk.porter.PorterStemmer()
    text = ' '.join([ps.stem(word) for word in text.split()])
    return text

In [76]:
# Apply the function to the text column
data['review']=data['review'].apply(stemText)

<p>Stop words are use case dependant. Some stop words may need to be removed for the list</p>

In [77]:
# Function to remove the Stop Words
def removeStopWords(text, isLowerCase=False):
    # Text Tokenization
    tokenizer = ToktokTokenizer()
    tokens = tokenizer.tokenize(text)
    tokens = [i.strip() for i in tokens]
    if isLowerCase:
        filteredTokens = [i for i in tokens if i not in stopWords]
    else:
        filteredTokens = [i for i in tokens if i.lower() not in stopWords]
    filteredText = ' '.join(filteredTokens)
    return filteredText

data['review'] = data['review'].apply(removeStopWords)

In [78]:
# The dataset can be split in half
# Training dataset
trainReviewsData = data.review[:40000]
# Test Dataset
testReviewsData = data.review[40000:]

trainData = data.sentiment[:40000]
testData = data.sentiment[40000:]

<b>Polarity and Subjectivity</b></brk>
<p>Polarity: classifies a sentence as positive or negative with an interval range of [-1, 1].
1 means positive and 0 means negative. The label binarizer is deprecated and I manually change the values
in the dataset.</p></brk>
<p>Subjectivity: observation based on personal opinions or emotions. Also given an interval range of [-1, 1]. Closer
to one generally indicates public opinion.</p>

In [102]:
train = data[:50000]
train

                                                  review  sentiment
0      one review ha mention watch 1 oz episod ' hook...          1
1      wonder littl production. film techniqu veri un...          1
2      thought thi wa wonder way spend time hot summe...          1
3      basic ' famili littl boy ( jake ) think ' zomb...          0
4      petter mattei ' " love time money " visual stu...          1
...                                                  ...        ...
49995  thought thi movi right good job. ' creativ ori...          1
49996  bad plot , bad dialogue , bad acting , idiot d...          0
49997  cathol taught parochi elementari school nuns ,...          0
49998  ' go disagre previou comment side maltin thi o...          0
49999  one expect star trek movi high art , fan expec...          0

[50000 rows x 2 columns]

In [103]:
sentiment_0 = train[train['sentiment'] == 0].sample(n = 5000)
sentiment_1 = train[train['sentiment'] == 1].sample(n = 5000)

In [104]:
train = pd.concat([sentiment_1, sentiment_0])

train = shuffle(train)

In [105]:
train

                                                  review  sentiment
49293  independ film score well reason high product v...          1
11683  ' movi like make wish never pick nerd grow sch...          1
9273   child 1980s , grew numer educ well diversionar...          0
34676  saw thi film histori channel today ( 2006 ) . ...          0
26523  okay , hell thi suppos ? famili fantasi movi c...          0
...                                                  ...        ...
37148  " columbo " see fatal occur right beginning. f...          1
13129  would like know con produc thi movi pay produc...          0
20693  word one great movi public campaign came concl...          1
38946  robert florey jame wong gave thi frightening ,...          1
49921  antonio margheriti ' " danza macabra " aka. " ...          1

[10000 rows x 2 columns]

In [106]:
train.isnull().sum()

review       0
sentiment    0
dtype: int64

In [107]:
# Using numpy to remove special characters
train.replace(r'^\s*$', np.nan, regex = True, inplace = True)

# Stem the front and rear of each word
train.dropna(axis = 0, how = 'any', inplace = True)

In [108]:
# Remove any sequences such as tabs, returns, or new lines
train.replace([r"\\t|\\n|\\r", "\t|\n|\r"], value = ["",""], regex = True, inplace = True)

print('ESC sequence removed')

ESC sequence removed

In [109]:
# Remove any non ascii characters from the dataset
train['review'] = train['review'].str.encode('ascii','ignore').str.decode('ascii')

print('Non-ASCII data removed')

Non-ASCII data removed

In [110]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [111]:
def removePunctuations(text):
    #import string
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    return text

In [112]:
train['review'] = train['review'].apply(removePunctuations)

In [113]:
train

                                                  review  sentiment
49293  independ film score well reason high product v...          1
11683   movi like make wish never pick nerd grow scho...          1
9273   child 1980s  grew numer educ well diversionari...          0
34676  saw thi film histori channel today  2006   fir...          0
26523  okay  hell thi suppos  famili fantasi movi cas...          0
...                                                  ...        ...
37148   columbo  see fatal occur right beginning foll...          1
13129  would like know con produc thi movi pay produc...          0
20693  word one great movi public campaign came concl...          1
38946  robert florey jame wong gave thi frightening  ...          1
49921  antonio margheriti   danza macabra  aka  castl...          1

[10000 rows x 2 columns]

<p>Stop words are use case dependant. Some stop words may need to be removed for the list</p>

In [114]:
print(stopWords)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'nor', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [ ]:
#Example
stopWords.remove('no')
stopWords.remove('not')

In [116]:
# Function to remove Special Characters
def removeSpecialCharacters(text):
    # Using a regular expression
    text = re.sub('[^a-zA-z0-9\s]', '', text)
    return text

train['review'] = train['review'].apply(removeSpecialCharacters)

In [117]:
train

                                                  review  sentiment
49293  independ film score well reason high product v...          1
11683   movi like make wish never pick nerd grow scho...          1
9273   child 1980s  grew numer educ well diversionari...          0
34676  saw thi film histori channel today  2006   fir...          0
26523  okay  hell thi suppos  famili fantasi movi cas...          0
...                                                  ...        ...
37148   columbo  see fatal occur right beginning foll...          1
13129  would like know con produc thi movi pay produc...          0
20693  word one great movi public campaign came concl...          1
38946  robert florey jame wong gave thi frightening  ...          1
49921  antonio margheriti   danza macabra  aka  castl...          1

[10000 rows x 2 columns]

In [118]:
# Function to remove HTML
def removeHTML(text):
    # Consider using BeautifulSoup's utility: BeautifulSoup(text, 'html.parser')
    # Create an object containing characters
    htmlPattern = re.compile('<.*?>')
    # iterate over text and substitute the characters with a space
    return htmlPattern.sub(r' ', text)

train['review'] = train['review'].apply(removeHTML)

In [119]:
train

                                                  review  sentiment
49293  independ film score well reason high product v...          1
11683   movi like make wish never pick nerd grow scho...          1
9273   child 1980s  grew numer educ well diversionari...          0
34676  saw thi film histori channel today  2006   fir...          0
26523  okay  hell thi suppos  famili fantasi movi cas...          0
...                                                  ...        ...
37148   columbo  see fatal occur right beginning foll...          1
13129  would like know con produc thi movi pay produc...          0
20693  word one great movi public campaign came concl...          1
38946  robert florey jame wong gave thi frightening  ...          1
49921  antonio margheriti   danza macabra  aka  castl...          1

[10000 rows x 2 columns]

In [120]:
# Function to remove URL
def removeURL(text):
    url = re.sub('https?://\$+|www\.\S+', ' ', text)
    return url

train['review'] = train['review'].apply(removeURL)

In [121]:
train

                                                  review  sentiment
49293  independ film score well reason high product v...          1
11683   movi like make wish never pick nerd grow scho...          1
9273   child 1980s  grew numer educ well diversionari...          0
34676  saw thi film histori channel today  2006   fir...          0
26523  okay  hell thi suppos  famili fantasi movi cas...          0
...                                                  ...        ...
37148   columbo  see fatal occur right beginning foll...          1
13129  would like know con produc thi movi pay produc...          0
20693  word one great movi public campaign came concl...          1
38946  robert florey jame wong gave thi frightening  ...          1
49921  antonio margheriti   danza macabra  aka  castl...          1

[10000 rows x 2 columns]

In [122]:
# Function to remove numbers
def removeNumbers(text):
    # Remove Integers with List comprehension
    text = ''.join([t for t in text if not t.isdigit()])
    return text

train['review'] = train['review'].apply(removeNumbers)

In [123]:
train

                                                  review  sentiment
49293  independ film score well reason high product v...          1
11683   movi like make wish never pick nerd grow scho...          1
9273   child s  grew numer educ well diversionari pro...          0
34676  saw thi film histori channel today     first  ...          0
26523  okay  hell thi suppos  famili fantasi movi cas...          0
...                                                  ...        ...
37148   columbo  see fatal occur right beginning foll...          1
13129  would like know con produc thi movi pay produc...          0
20693  word one great movi public campaign came concl...          1
38946  robert florey jame wong gave thi frightening  ...          1
49921  antonio margheriti   danza macabra  aka  castl...          1

[10000 rows x 2 columns]

In [124]:
# Function to clean a word
def clean(word):
    reg = re.compile(r'\D*\d')
    # Regular expression to check the word agaisnt a set of checks
    if reg.match(word):
        # if a match is found then return empty string
        return ''
    # No match then return the word
    return word

# Function to remove alpha numberic
def removeAlphaNumeric(strings):
    # List comprehension to create a list of strings
    numString = [" ".join(filter(None, (
    # Function call to clean the word when iterating over each word in the string
    clean(word) for word in string.split())))
    # Loop to interate over each string in a list of strings
    for string in strings.split()]
    # Statement to rejoin the strings
    resStr = ' '.join(numString)
    # output to user
    return resStr

train['review'] = train['review'].apply(removeAlphaNumeric)

In [125]:
train

                                                  review  sentiment
49293  independ film score well reason high product v...          1
11683  movi like make wish never pick nerd grow schoo...          1
9273   child s grew numer educ well diversionari prog...          0
34676  saw thi film histori channel today first reali...          0
26523  okay hell thi suppos famili fantasi movi cash ...          0
...                                                  ...        ...
37148  columbo see fatal occur right beginning follow...          1
13129  would like know con produc thi movi pay produc...          0
20693  word one great movi public campaign came concl...          1
38946  robert florey jame wong gave thi frightening e...          1
49921  antonio margheriti danza macabra aka castl blo...          1

[10000 rows x 2 columns]

In [127]:
def lemmatizeText(text):
    text = nlp(text)
    # For each word in text, Lemmatize the word if != pron otherwise get the text version
    text = ' '.join([word.lemma_ if word.lemma_ != '-PRON-' else word.text for word in text])
    return text

train['review'] = train['review'].apply(lemmatizeText)

In [128]:
train

                                                  review  sentiment
49293  independ film score well reason high product v...          1
11683  movi like make wish never pick nerd grow schoo...          1
9273   child s grow numer educ well diversionari prog...          0
34676  see thi film histori channel today first reali...          0
26523  okay hell thi suppos famili fantasi movi cash ...          0
...                                                  ...        ...
37148  columbo see fatal occur right beginning follow...          1
13129  would like know con produc thi movi pay produc...          0
20693  word one great movi public campaign come concl...          1
38946  robert florey jame wong gave thi frightening e...          1
49921  antonio margheriti danza macabra aka castl blo...          1

[10000 rows x 2 columns]

In [130]:
# Each word will be assigned to post and passed to TextBlob for the sentiment
train['emmotion'] = train['review'].apply(lambda post: TextBlob(post).sentiment)
train

,review,sentiment,emmotion
49293,independ film score well reason high product v...,1,"(0.18850000000000003, 0.30650000000000005)"
11683,movi like make wish never pick nerd grow schoo...,1,"(0.09006410256410255, 0.45715811965811964)"
9273,child s grow numer educ well diversionari prog...,0,"(0.0736759581881533, 0.4462717770034843)"
34676,see thi film histori channel today first reali...,0,"(-0.026726190476190494, 0.4856812169312169)"
26523,okay hell thi suppos famili fantasi movi cash ...,0,"(0.11188884644767001, 0.5934757236227823)"
...,...,...,...
37148,columbo see fatal occur right beginning follow...,1,"(0.31696428571428564, 0.550297619047619)"
13129,would like know con produc thi movi pay produc...,0,"(-0.135, 0.5866666666666667)"
20693,word one great movi public campaign come concl...,1,"(0.28474747474747475, 0.4418181818181818)"
38946,robert florey jame wong gave thi frightening e...,1,"(0.23012820512820517, 0.8378205128205128)"
49921,antonio margheriti danza macabra aka castl blo...,1,"(0.3686813186813186, 0.5738095238095238)"

<p>The sentiment tuple returned will contain the polarity (left) and the subjectivity (right)</p>

In [131]:
sentimentSeries = train['emmotion'].tolist()

In [133]:
columns = ['polarity', 'subjectivity']
mydf = pd.DataFrame(sentimentSeries, columns = columns, index = train.index)

In [137]:
result = pd.concat([train, mydf], axis = 1)
result.drop(['emmotion'], axis = 1, inplace = True)
result.loc[result['polarity'] >= 0.3, 'Derived_Sentiment'] = "Positive"
result.loc[result['polarity'] < 0.3, 'Derived_Sentiment'] = "Negative"

In [138]:
result

,review,sentiment,polarity,subjectivity,Derived_Sentiment
49293,independ film score well reason high product v...,1,0.188500,0.306500,Negative
11683,movi like make wish never pick nerd grow schoo...,1,0.090064,0.457158,Negative
9273,child s grow numer educ well diversionari prog...,0,0.073676,0.446272,Negative
34676,see thi film histori channel today first reali...,0,-0.026726,0.485681,Negative
26523,okay hell thi suppos famili fantasi movi cash ...,0,0.111889,0.593476,Negative
...,...,...,...,...,...
37148,columbo see fatal occur right beginning follow...,1,0.316964,0.550298,Positive
13129,would like know con produc thi movi pay produc...,0,-0.135000,0.586667,Negative
20693,word one great movi public campaign come concl...,1,0.284747,0.441818,Negative
38946,robert florey jame wong gave thi frightening e...,1,0.230128,0.837821,Negative
49921,antonio margheriti danza macabra aka castl blo...,1,0.368681,0.573810,Positive

In [139]:
result.loc[result['sentiment'] == 1, 'Sentiment_Label'] = 1
result.loc[result['sentiment'] == 0, 'Sentiment_Label'] = 0

In [140]:
result

,review,sentiment,polarity,subjectivity,Derived_Sentiment,Sentiment_Label
49293,independ film score well reason high product v...,1,0.188500,0.306500,Negative,1.0
11683,movi like make wish never pick nerd grow schoo...,1,0.090064,0.457158,Negative,1.0
9273,child s grow numer educ well diversionari prog...,0,0.073676,0.446272,Negative,0.0
34676,see thi film histori channel today first reali...,0,-0.026726,0.485681,Negative,0.0
26523,okay hell thi suppos famili fantasi movi cash ...,0,0.111889,0.593476,Negative,0.0
...,...,...,...,...,...,...
37148,columbo see fatal occur right beginning follow...,1,0.316964,0.550298,Positive,1.0
13129,would like know con produc thi movi pay produc...,0,-0.135000,0.586667,Negative,0.0
20693,word one great movi public campaign come concl...,1,0.284747,0.441818,Negative,1.0
38946,robert florey jame wong gave thi frightening e...,1,0.230128,0.837821,Negative,1.0
49921,antonio margheriti danza macabra aka castl blo...,1,0.368681,0.573810,Positive,1.0

<h3 align=center>Semmantic Segmantation</h3>
<p>We reduce the image by layers. The process is called encoding. Used for storage or an application that recreates something. They
are auto-encoders. Compression and Decompression. Encoding and Decoding. How is this possible?</p></brk>

<p>Semmantic Segmantation: It is the process of apply color to similar objects. Sky, cars, and roads.<p></p> 
Instance Segmantation: Similar objects are classified as different objects. 
Need a good corpus (vacabulary) and good training data.</p></brk>

<p>The U-Net Architecture Has Two Paths</p>
<ol>
    <li>The contraction path captures the context within an image with the encoder being a stack of convulotional and pooling layers</li>
    <li>The symmetric expanding enables precision localization through transposed convolutions. A fully convolutional network does not have any dense layers. It can take an image of any size.</li>
</ol>

In [ ]:
Unable to complete because of deprecated libraries.